ClienteEstoque1/Connected Services/ServicoEstoque/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://projetoavaliativo.dm113/02" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://projetoavaliativo.dm113/02" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://projetoavaliativo.dm113/02/Imports">
      <xsd:import schemaLocation="http://localhost:56124/Service.svc?xsd=xsd4" namespace="http://projetoavaliativo.dm113/02" />
      <xsd:import schemaLocation="http://localhost:56124/Service.svc?xsd=xsd0" namespace="http://projetoavaliativo.dm113/01" />
      <xsd:import schemaLocation="http://localhost:56124/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56124/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:56124/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EstoqueLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicoEstoque_adicionarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:adicionarEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_adicionarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:adicionarEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_removerEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:removerEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_removerEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:removerEstoqueResponse" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_consultarEstoque_InputMessage">
    <wsdl:part name="parameters" element="tns:consultarEstoque" />
  </wsdl:message>
  <wsdl:message name="IServicoEstoque_consultarEstoque_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarEstoqueResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicoEstoque">
    <wsdl:operation name="adicionarEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoque/adicionarEstoque" message="tns:IServicoEstoque_adicionarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoque/adicionarEstoqueResponse" message="tns:IServicoEstoque_adicionarEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="removerEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoque/removerEstoque" message="tns:IServicoEstoque_removerEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoque/removerEstoqueResponse" message="tns:IServicoEstoque_removerEstoque_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="consultarEstoque">
      <wsdl:input wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoque/consultarEstoque" message="tns:IServicoEstoque_consultarEstoque_InputMessage" />
      <wsdl:output wsaw:Action="http://projetoavaliativo.dm113/02/IServicoEstoque/consultarEstoqueResponse" message="tns:IServicoEstoque_consultarEstoque_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>