ProvedorEstoqueHost/Connected Services/ServicoEstoqueV2/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://projetoavaliativo.dm113/01" elementFormDefault="qualified" targetNamespace="http://projetoavaliativo.dm113/01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56124/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:56124/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EstoqueLibrary" />
  <xs:element name="ListarProdutos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProdutosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListarProdutosResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="incluirProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EstoqueLibrary" minOccurs="0" name="produto" nillable="true" type="q2:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="incluirProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="incluirProdutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroProduto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removerProdutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroProduto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="consultarEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="consultarEstoqueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="adicionarEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroProduto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="adicionarEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adicionarEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerEstoque">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroProduto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerEstoqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removerEstoqueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroProduto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EstoqueLibrary" minOccurs="0" name="verProdutoResult" nillable="true" type="q3:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>